In [ ]:
#| default_exp basic-summaries

# Basic missing values summaries

> Lorem Ipsum

In [ ]:
import pandas as pd

df = pd.DataFrame(range(0, 10))
df.iloc[1:4, :] = None

df

     0
0  0.0
1  NaN
2  NaN
3  NaN
4  4.0
5  5.0
6  6.0
7  7.0
8  8.0
9  9.0

In [ ]:
#| export
import pandas as pd
import pandas_missing.Missing
from nbdev.showdoc import patch

In [ ]:
#| export
@patch
def number_missing(self: pandas_missing.Missing.PandasMissing):
    """Return the number of missing values in the entire DataFrame."""
    return self._df.isna().sum().sum()

In [ ]:
df.missing.number_missing()

3

In [ ]:
#| export
@patch
def number_complete(self: pandas_missing.Missing.PandasMissing):
    """Return the number of non-missing values in the entire DataFrame."""
    return self._df.size - self._df.missing.number_missing()

In [ ]:
df.missing.number_complete()

7