# Pandas missing

> A pandas extension to explore and handle missing values.

## Install

```bash
pip install pandas-missing
```

or 

```bash
conda install --channel jvelezmagic pandas_missing
```

## How to use

In [ ]:
import pandas as pd
import pandas_missing

In [ ]:
df = pd.DataFrame.from_dict(
    {
        "number": range(0, 15)
    }
)

df.iloc[3:6, :] = None

df

    number
0      0.0
1      1.0
2      2.0
3      NaN
4      NaN
5      NaN
6      6.0
7      7.0
8      8.0
9      9.0
10    10.0
11    11.0
12    12.0
13    13.0
14    14.0

In [ ]:
df.missing.number_missing()

3

In [ ]:
df.missing.number_complete()

12